@charset 'utf-8';
.iframe-content {
   position: relative;
 width: 100%;
    padding: 75% 0 0 0;
}
.iframe-content iframe {
    position: absolute;
 top: 0;
 left: 0;
    width: 100%;
    height: 100%;
}

.center{
  text-align: center;
}

.news-control{
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.copyrights{
	color: white;
}
#footer{
	background-color: #007bff;
}

.navbar{
	background-color: #007bff;
}
.navbar-brand{
	color: white;
}
.nav-link{
	color: white;	
}
.icon-center{
	display: flex;
	margin: 0 auto;
}
